<%= render "nav-bar" %>

<h3>Animal Listing</h3>

<% @animal.each do |animal| %>
  <%= link_to animal_path(animal) do  %>
<div class="cardmenu">
  <h3><%= animal.name %></h3>
  <%= image_tag animal.image if animal.image.attached? %>
</div>
  <% end %>
<% end %>

<div class="bottom-nav">

  <div class="bottom-links" >
  <%= button_to " Back " , root_path, method: :get %>
  </div>
</div>