  <%= render "nav-bar" %>
 <div class="cardshow">
  <h4><%= @animal.name %></h4>
  <p><strong>Species: </strong><%= @animal.species.species_type %></p>
  <p><strong>Habitat: </strong><%= @animal.habitat %></p>
  <p class="cardtextcontainer"><strong>Description: </strong><%= @animal.description %></p>
  <%= image_tag @animal.image if @animal.image.attached? %>
</div>

<div class="bottom-nav">

  <div class="bottom-links" >
  <%= button_to " Edit ", edit_animal_path, method: :get %>
  </div>

  <div class="bottom-links" >
  <%= button_to " Delete ", animal_path, method: :destroy %>
  </div>

  <div class="bottom-links" >
  <%= button_to " Back " , root_path, method: :get %>
  </div>
</div>